services:
  server:
    build:
      context: ./api
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      DATABASE_URL: postgresql://postgres:123456@db:5432/educational_melody
    ports:
      - 3000:3000
    networks:
      - prisma-network
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15-alpine
    restart: always
    networks:
      - prisma-network
    environment:
      - POSTGRES_DB=educational_melody
      - POSTGRES_PASSWORD=123456
      - POSTGRES_USER=postgres
    expose:
      - 5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d educational_melody"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

networks:
  prisma-network:
    name: prisma-network
