services:
  server:
    build:
      context: ./backend
    volumes:
      - ./backend:/server
      - /server/node_modules
    environment:
      DATABASE_URL: postgresql://postgres:123456@db:5432/educational_melody
      NEXT_ATUTH_SECRET: your_next_auth_secret
      NEXTAUTH_URL: http://localhost:3000
    ports:
      - 3000:3000
    networks:
      - local-network
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15-alpine
    restart: always
    networks:
      - local-network
    environment:
      - POSTGRES_DB=educational_melody
      - POSTGRES_PASSWORD=123456
      - POSTGRES_USER=postgres
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d educational_melody"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

networks:
  local-network:
    name: local-network
