$measure-margin: 3rem 0;

$measure-height: 3rem;
$measure-width: 20rem;

$line-height: 2px;

$barline-width: 2px;
$barline-height: $measure-height + 2rem;

.sheet_music {
    display: flex;
    flex-wrap: wrap;

    .measure {
        margin: $measure-margin;
        display: flex;
        position: relative;
        width: $measure-width;
        height: $measure-height;

        .line_area {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            height: $measure-height;
            justify-content: space-between;

            .line {
                display: flex;
                background-color: black;
                height: $line-height;
                width: $measure-width;
                transform: translateY(-50%);
            }
        }

        .barline_start,
        .barline_end {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            display: flex;
            width: $barline-width;
            height: $barline-height;
            background-color: black;
        }

        .barline_end {
            left: 100%;
        }

        .notes_area {
            display: flex;
            height: $measure-height;
            width: $measure-width;

            .note_container {
                position: relative;
                height: 100%;

                .note {
                    position: absolute;
                    left: 50%;
                    width: calc($measure-height / 2);
                    height: calc($measure-height / 2);
                    transform: translate(-50%, -50%);
                }

                .whole_note {
                    @extend .note;
                    width: calc($measure-width /2.2);
                    height: calc($measure-height / 2.2);
                }

                .half_note,
                .quarter_note,
                .eighth_note,
                .sixteenth_note {
                    @extend .note;
                    width: $measure-height;
                    height: $measure-height;
                }

                .sixteenth_note {
                    margin-left: 20%;
                    margin-right: auto;
                }

                .note_line {
                    position: absolute;
                    left: 50%;
                    width: calc($measure-height / 2.7);
                    height: $line-height;
                    background-color: black;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}