$measure-margin: 3rem 0;

$measure-height: 3rem;
$measure-width: 20rem;

$line-height: 2px;

$barline-width: 2px;
$barline-height: $measure-height + 2rem;

.sheet_music {
    display: flex;
    flex-direction: column;

    .sheet_music_row {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        .measure {
            margin: $measure-margin;
            display: flex;
            position: relative;
            width: $measure-width;
            height: $measure-height;

            .line_area {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                height: $measure-height;
                justify-content: space-between;

                .line {
                    display: flex;
                    background-color: black;
                    height: $line-height;
                    width: $measure-width;
                    transform: translateY(-50%);
                }
            }

            .barline_start,
            .barline_end {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
                display: flex;
                width: $barline-width;
                height: $barline-height;
                background-color: black;
            }

            .barline_end {
                left: 100%;
            }

            .notes_area {
                display: flex;
                height: $measure-height;
                width: $measure-width;

                .note_container {
                    position: relative;
                    height: 100%;

                    .note {
                        //background-color: red;
                        position: absolute;
                        left: 50%;
                        transform: translate(-50%, -100%);
                        display: flex;
                        align-items: end;
                        justify-content: center;

                        .sharp_box {
                            position: relative;
                            width: calc($measure-height / 2.3);
                            ;

                            img {
                                position: absolute;
                                top: calc($measure-height / -2.8);
                                width: inherit;
                            }
                        }

                        * {
                            margin-bottom: calc($measure-height / 50)
                        }

                        .whole_note {
                            width: calc($measure-height / 3.5);
                        }

                        .half_note {
                            width: calc($measure-height / 3.2);
                        }

                        .quarter_note {
                            width: calc($measure-height / 3.2);
                        }

                        .eighth_note {
                            width: calc($measure-height / 2.1);
                        }

                        .sixteenth_note {
                            width: calc($measure-height / 2.2);
                        }

                        .thirtysecond_note {
                            width: calc($measure-height / 2);
                        }

                    }

                    .note_line {
                        position: absolute;
                        left: 50%;
                        width: calc($measure-height / 2.7);
                        height: $line-height;
                        background-color: black;
                        transform: translate(-50%, -50%);
                    }

                    .rest_note {
                        @extend .note;
                        width: calc($measure-height / 2);
                    }

                    .QuarterRest {
                        width: calc($measure-height / 3);
                    }

                    .EighthRest {
                        width: calc($measure-height / 2.7);
                    }

                    .SixteenthRest {
                        width: calc($measure-height / 2.2);
                    }
                }

                .note_container_on_insert {
                    @extend .note_container;
                }

                .note_container_on_insert::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background: limegreen;
                }

                .note_container_on_remove {
                    @extend .note_container
                }

                .note_container_on_remove:hover {
                    background-color: rgba(255, 0, 0, 0.308)
                }

                .note_container_on_insert:hover::before {
                    width: 4px;
                }
            }
        }
    }
}