<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <title>Criar Aula</title>
</head>
<body>
    <%- include('components/header') %>
    <h1>Criar Nova Aula</h1>
    <p>
        <%= error_msg %>
    </p>
    <form action="/lesson/create" method="POST">
        <label for="title">Título da Aula:</label><br>
        <input type="text" id="title" name="title" required><br><br>
        <label for="content">Conteúdo da Aula:</label><br>
        <textarea id="content" name="content" rows="10" cols="50" required></textarea><br><br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
