<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8" />
	<title>Login</title>
	<link rel="stylesheet" href="/css/form.css">
	<link rel="stylesheet" href="/css/header.css">
</head>

<body>
	<%- include('./components/header') %>
	<main class="form-container">
		<h1>Login</h1>
		<p class="subtitle">Realize o Login para acessar a sua conta!</p>

        <%= error_msg %>

		<p>
			<%= error_msg %>
		</p>

		<form action="/login" method="POST">
			<label for="email">Email</label>
			<input id="email" name="email" type="email" placeholder="Digite seu Email" required />

			<label for="password">Senha</label>
			<input id="password" name="password" type="password" placeholder="Digite sua Senha" required />

			<label class="checkbox-label">
				<input id="remember" name="remember" type="checkbox" />
				Lembrar do Login
			</label>

			<input type="submit" value="Sign Up" />
		</form>

		<div class="separator">OU</div>

		<p class="bottom-text">Ainda não possui uma conta? <a href="/register">Cadastre-se</a></p>
	</main>
</body>

</html>