<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8" />
	<title>Login</title>
	<link rel="stylesheet" href="/css/header.css">
</head>

    
</body>
</html>

<%- include('components/header') %>
<h1>Questions</h1>
<ul>
  <% questionList.forEach(question => { %>
    <li>
      <a href="/exercises/<%= question.id %>"><%= question.content %></a>
    </li>
  <% }) %>
</ul>
<form action="/exercises/create" method="POST">
  <textarea name="content" placeholder="Question content" required></textarea>
  <input type="number" name="imageId" placeholder="Image ID (optional)" />
  <button type="submit">Create Question</button>
</form>
