<link rel="stylesheet" href="css/header.css">
<header class="header">
    <a href="/" class="logo">Melodia Educacional</a>
    <nav class="nav">
        <ul>
            <li>
                <% if (!is_logged_in) { %>
                    <a href="register" class="nav-link active">Cadastro</a>
                <% } %>
            </li>
            <li><a href="#">Tutorial</a></li>
            <li><a href="#">Quem somos</a></li>
            <li>
                <% if (is_logged_in) { %>
                    <form action="logout" method="POST">
                        <button type="submit" href="/logout" class="login-button">Logout</button>
                    </form>
                <% } else { %>
                    <a href="/login" class="login-button">Login</a>
                <% } %>
            </li>
        </ul>
    </nav>
</header>