<link rel="stylesheet" href="css/header.css">
<header class="header">
    <div class="logo">Melodia Educacional</div>
    <nav class="nav">
        <ul>
            <li><a href="#" class="nav-link active">Cadastro</a></li>
            <li><a href="#">Tutorial</a></li>
            <li><a href="#">Quem somos</a></li>
            <li><a href="/login" class="login-button">Login</a></li>
        </ul>
    </nav>
</header>