# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - Melody

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Set up Node.js version
        uses: actions/setup-node@633bb92bc0aabcae06e8ea93b85aecddd374c402
        with:
          node-version: "24.x"

      - name: npm install and build
        run: |
          npm install
          npm run build
        working-directory: ./api

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: Melody
          path: ./api

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@f093f21ca4cfa7c75ccbbc2be54da76a0c7e1f05
        with:
          name: Melody

      - name: npm install
        run: npm install --production
        working-directory: .

      - name: prisma generate
        run: npx prisma generate
        working-directory: .

      - name: prisma migrate deploy
        run: npx prisma migrate deploy
        env:
          DATABASE_URL: ${{ secrets.DATABASE_CONNECTION_STRING }}
        working-directory: .

      - name: Login to Azure
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_583E7ABEA0CD4FAEBF5E1B3BE035899C }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_3DBAE8216E494EF293F6F0CE8DFEFC5F }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_0E6D7903B6FF4212BC1E34FE5255CE10 }}

      - name: "Deploy to Azure Web App"
        id: deploy-to-webapp
        uses: azure/webapps-deploy@122b7ec46017e53a3f71e3a027d67550a1641f5e
        with:
          app-name: "Melody"
          slot-name: "Production"
          package: .
